
.noSubs {
    text-align: center;
    height: 400px; 
    margin-top: calc(50vh - 200px);
    width: 100%;
}
.noSubs .title {
    margin-top: 16px;
    color: var(--gj-text-primary);

    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.noSubs .description {
    margin-top: 8px;
    color: var(--gj-text-secondary);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noSubs .buttons {
    margin-top: 24px;
}

:global(:root[data-theme="light"]) .container :global(.icon) img {
    filter: brightness(0) saturate(100%);
    opacity: 0.42 !important;
}
