.container {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    border-bottom: 1px solid var(--gj-border); 
    box-sizing: border-box; 
    background-color: var(--gj-bg-root)
}

.container:focus-visible {
    background-color: var(--gj-bg-hover);
    outline: unset;
}

.metadata {
    color: var(--gj-text-tertiary);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.authorBottomRow {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: var(--gj-text-tertiary);
    align-items: center;
}

.authorThumbnail {
    width: 32px;   
    height: 32px;
    border-radius: 50%;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 16px;
}

.authorColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

.authorName {
    color: var(--gj-text-secondary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 1.0em;
    margin-bottom: 5px;
    flex-grow: 1;
}

.itemTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--gj-text-primary);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
:global(:root[data-theme="light"]) .container > img:first-child {
    filter: var(--gj-theme-icon-filter);
}
