.container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  background: var(--ib-bg, #212122);
}

.container:hover {
  cursor: pointer;
  background: var(--ib-bg-focus, #fff);
  outline: unset;
}

.container:hover .icon {
  filter: var(--ib-icon-filter-focus, brightness(0) saturate(100%));
}

.container:focus-visible {
  background: var(--ib-bg-focus, #fff);
  outline: unset;
}

.container:focus-visible .icon {
  filter: var(--ib-icon-filter-focus, brightness(0) saturate(100%));
}

/* shape */
.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 6px;
}

/* variants */
.solid {
  --ib-bg: #212122;
}

.ghost {
  --ib-bg: rgba(255, 255, 255, 0.065);
}

.none {
  --ib-bg: transparent;
}

.icon {
  width: calc(100% - (var(--ib-inset) + var(--ib-inset)));
  height: calc(100% - (var(--ib-inset) + var(--ib-inset)));
  margin: var(--ib-inset);
  display: block;
  object-fit: contain;
}


:global(:root[data-theme="light"]) .container.solid {
  background: rgba(30, 30, 30, 0.10);
}

:global(:root[data-theme="light"]) .container.ghost {
  background: rgba(30, 30, 30, 0.06);
}

:global(:root[data-theme="light"]) .container.solid:hover,
:global(:root[data-theme="light"]) .container.ghost:hover,
:global(:root[data-theme="light"]) .container.none:hover,
:global(:root[data-theme="light"]) .container.solid:focus-visible,
:global(:root[data-theme="light"]) .container.ghost:focus-visible,
:global(:root[data-theme="light"]) .container.none:focus-visible {
  background: rgba(30, 30, 30, 0.16);
}

:global(:root[data-theme="light"]) .container.solid .icon,
:global(:root[data-theme="light"]) .container.ghost .icon,
:global(:root[data-theme="light"]) .container.none .icon {
  filter: brightness(0) saturate(100%);
}
