.containerGroup {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--gj-border);
    overflow: hidden;
    height: 44px;
    width: fit-content;
}

.containerButton {
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gj-text-tertiary);
    gap: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.containerButton.active {
    background: var(--gj-bg-card-active);
    color: var(--gj-text-primary);
}

.containerButton:hover {
  cursor: pointer;
  background: var(--btn-bg-focus);
  color: var(--btn-text-focus);
}

.containerButton:hover .icon {
  filter: var(--ib-icon-filter-focus, brightness(0) saturate(100%));
}

.icon {
    width: 16px; height: 16px; flex-shrink: 0;
}

.containerButton:focus-visible {
  background: var(--btn-bg-focus);
  color: var(--btn-text-focus);
  outline: unset;
}

.containerButton:focus-visible .icon {
    filter: var(--ib-icon-filter-focus, brightness(0) saturate(100%));
}


.separator {
    height: 100%;
    width: 1px;
    background-color: var(--gj-border);
}

:global(:root[data-theme="light"]) .icon {
    filter: var(--gj-theme-icon-filter);
}
