
.container {
    width: 100%;
    border-top: 1px solid var(--gj-border);
    border-bottom: 1px solid var(--gj-border);
    padding-top: 24px;
    padding-bottom: 8px;
}

.header {
    color: var(--gj-text-primary);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 109.091% */
}
.description {
    color: var(--gj-text-tertiary);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
    margin-top: 4px;
    margin-bottom: 12px;
}

.key {
    float: left;
    width: 60%;
}
.value {
    
}