
.root {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--gj-bg-backdrop);
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
